<%= render 'shared/errors' %>
<%= form_with(model: @article, local: true) do |f| %>
  <div class="form-group row">
    <div class="col-8 mx-auto">
      <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
    </div>
  </div>
  <br/>
  <div class="form-group row">
    <div class="col-8 mx-auto">
      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: 'Description of article' %>
    </div>
  </div>
  <br/>
  <div class="form-group text-center">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <%= f.submit class: "btn btn-info"%>
      <%= link_to "Back to list", articles_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

